<footer class="footer">
  <small>
    The <a href="https://github.com/zcfelix/simple-microblog">Project</a>
    by <a href="https://zcfelix.github.io">Felix Zhou</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.douban.com/zcfelix">Douban</a></li>
    </ul>
  </nav>
</footer>